package users

import "github.com/lsgser/gogql"

func Module() *gogql.Module {
	return gogql.MustModule(gogql.ModuleConfig{
		ID:        "users",
		TypeDefs:  typeDefs(),
		Resolvers: resolvers(),
	})
}
