package users

import (
	"context"

	"github.com/graph-gophers/dataloader"
	"github.com/graph-gophers/graphql-go"
	"github.com/lsgser/gogql"
)

type User struct {
	ID   graphql.ID
	Name string
}

func Module() *gogql.Module {
	return gogql.MustModule(gogql.ModuleConfig{
		ID: "users",
		TypeDefs: `
			type User {
				id: ID!
				name: String!
			}
			type Query {
				user(id: ID!): User
				users: [User!]!
			}
		`,
		Resolvers: gogql.NewResolverMap().
			Query("user", resolveUser).
			Query("users", resolveUsers),
	})
}

func LoaderFactories() gogql.LoaderFactories {
	return gogql.LoaderFactories{
		"user": func() *dataloader.Loader {
			return gogql.NewStringKeyLoader(batchUsers)
		},
	}
}

func batchUsers(ctx context.Context, keys dataloader.Keys) []*dataloader.Result {
	out := make([]*dataloader.Result, len(keys))
	for i, k := range keys {
		id := string(k.String())
		out[i] = &dataloader.Result{Data: &User{ID: graphql.ID(id), Name: "User " + id}}
	}
	return out
}

func resolveUser(ctx context.Context, args struct{ ID graphql.ID }) (*User, error) {
	loader, err := gogql.LoadersFromContext(ctx, "user")
	if err != nil {
		return nil, err
	}
	thunk := loader.Load(ctx, dataloader.StringKey(string(args.ID)))
	v, err := thunk()
	if err != nil {
		return nil, err
	}
	return v.(*User), nil
}

func resolveUsers(_ context.Context) ([]*User, error) {
	return []*User{
		{ID: "1", Name: "User 1"},
		{ID: "2", Name: "User 2"},
	}, nil
}
